<h1>My Garage</h1>
<ul>
  <% @favourites.each do |favourite| %>
    <li>
      <%= favourite.car.brande %>
      <%= link_to "Delete",
      favourite_path(favourite),
      data: {turbo_method :delete, turbo_confirm: "Are you sure?"%>}
    </li>
  <% end %>
</ul>
